@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.home-container {
  background-color: black;
  margin-top: 0px;
  display: flex;
  padding-left: 70px;
  padding-bottom: 50px;
}
.title {
  color: white;
  font-family: "Open-Sans";
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  text-align: left;
}
.paragraph {
  color: white;
  font-family: "Roboto";
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 12px;
  margin-bottom: 12px;
}
input {
  padding: 1.5rem;
  border-radius: 15px;
  background: transparent;
  border: 1px solid black;
  resize: none;
  color: white;
  height: 0.4rem;
  width: 50%;
  max-width: 150px;
  border: 1px solid white;
}
.map-img {
  max-width: 680px;
  margin-left: 85px;
  height: 500px;
}
.text-container {
  width: 550px;
  margin-left: 50px;
  margin-top: 40px;
}
.img-container {
  margin-top: 40px;
}
.download-mobile-btn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.bottom-text-container {
  width: 550px;
  margin-left: 100px;
  margin-top: 100px;
}
.hr-1 {
  margin: 0px;
}
.hr-2 {
  margin: 0px;
}
/*
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.map-img {
  width: 60%;
  max-width: 450px;
  margin-left: 85px;
}
.home-dsk-img {
  width: 70%;
  max-width: 450px;
  margin-right: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }
}

.home-heading {
  font-family: "Open-Sans";
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: #1e293b;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
    text-align: left;
  }
}

.home-description {
  font-family: "Roboto";
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .shop-now-button {
    font-size: 16px;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 12px;
  margin-bottom: 12px;
}
input {
  padding: 1.5rem;
  border-radius: 15px;
  background: transparent;
  border: 1px solid black;
  resize: none;
  color: black;
  height: 0.4rem;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  padding: 1.4rem 1.5rem 2rem;
  border-radius: 15px;
  height: 0.4rem;
  background: transparent;
  color: var(--color-white);
  text-align: center;
}
.download-mobile-btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hr2 {
  margin-left: 40px;
  margin-right: 40px;
}
*/
